{% extends "layout.html" %}

{% block content %}
<div class="container text-center w-60 ">
    <h1 class="mt-4">Mission Impossible</h1>
    <p class="mb-5">As cheesy as the name sounds it fits. The goal of Mission Impossible is to put together a list of adventures, challenges, and goals that push you physically and mentally. Its not exhausting and is ever changing, there is no tangible end, just pressure to never stop being the best you.</p>
</div>
<div class="row container-fluid">
    <div class="col ">
        <div class="card" style="width: 90%; margin: auto;">
            <div class="card-body">  
                <h6 class="card-subtitle mb-2 text-muted">Fitness</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><div class="text-start">Run a Half Marathon</div> <div class="text-end">Scheduled: 9-18-2021</div></li>
                    <li class="list-group-item">Run a Full Marathon</li>
                    <li class="list-group-item">Finish a Triathlon</li>
                    <li class="list-group-item">Finish an Iron Man</li>
                </ul>
                <h6 class="card-subtitle mb-2 text-muted">Travel</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><div class="text-start">Visit every Continent</div> <div class="text-end">Visited 3 of 7</div></li>
                    <li class="list-group-item">Backpack across Europe</li>
                    <li class="list-group-item">Live in a Van across all 50 states</li>
                    <li class="list-group-item">Live at Sea for a Month</li>
                </ul>
                <h6 class="card-subtitle mb-2 text-muted">Challenges</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Try Veganism for 2 Months</li>
                    <li class="list-group-item">Achieve Black Belt in Jiu-Jitsu</li>
                    <li class="list-group-item">Start a Business</li>
                    <li class="list-group-item">Sell a Software Application</li>
                    <li class="list-group-item">Live off the Grid for 50 days</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}