{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="h1 text-center mt-4">Projects</div>
    <div class="row  mt-5">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card mx-auto">
                <img src="/static/torque.jpg" class="card-img-top img-fluid" alt="..." >
                <div class="card-body">
                    <h5 class="card-title">Torque Buddy</h5>
                    <p class="card-text">Flutter application designed to help users calculate torque needed for their applications. Building this to learn Flutter. Almost Published to App Store.</p>
                    <a href="https://github.com/browntater12/buddy" target="_blank" class="btn btn-primary">Code Base</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card mx-auto">
                <video class='card-img-top' autoplay muted loop>
                    <source src="/static/ticket.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                  </video>
                <div class="card-body">
                    <h5 class="card-title">Ticketing System</h5>
                    <p class="card-text">Light weight ticketing system designed for low volume. Database built with SQLite and hosted via IIS.</p>
                    <a href="#" class="btn bg-soft-warning">Private</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card mx-auto">
                <a href="/static/dash.PNG" target="_blank"><img src="/static/dash.PNG" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">Regal Real Estate</h5>
                    <p class="card-text">Designed to help Regal Real Estate find off market opportunities. Custom Scraper. </p>
                    <a href="#" class="btn bg-soft-warning">Private</a>
                </div>
            </div>
        </div>
    </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
    </div>
</div>
{% endblock %}